<div class="container chessboard">
	<div class="row board-controls">
		<input ng-model="flipboard" type="button" />Flip Board</input>
	</div>
	<div ng-repeat="row in board.squares" class="row chessboard-row">
		<div class="col-xs-2">&nbsp;</div>
		<div ng-repeat="col in row" positionx="{{$index}}" ng-click="selectSquare($index, board.squares.indexOf(row))" positiony="{{board.squares.indexOf(row)}}" ng-class="{selectedsquare: isSelectedSquare($index, board.squares.indexOf(row))}" class="col-xs-1 chessboard-square square-color-{{($parent.$index + $index) % 2}}"  ui-drop-listener='dropListener'>
				&nbsp;
				<div ng-if="col.piece != ''" ui-draggable class="piece piece-{{col.piece}}">{{col.piece | piecefilter}}
				</div>
		</div>
		<div class="col-xs-2">&nbsp;</div>
	</div>
</div>